= link_to 'Edit', edit_admin_article_path(article), class: 'btn btn-warning'
= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'